//IMPORT
@use 'sass/reset';
@use 'sass/frontpage';
@use 'sass/form';

//COLORS

//Fire & passion
$orange: rgb(244, 141, 105);
$lightorange: rgb(255, 181, 145);
$pastelorange: rgb(248, 221, 206);

//Space & explore
$blue: rgb(62, 20, 214);
$lightblue: rgb(98, 89, 250);
$pastelblue: rgb(202, 206, 252);

//Aurora & grow
$green: rgb(91, 224, 128);
$lightgreen: rgb(185, 248, 185);
$pastelgreen: rgb(223, 252, 223);

//Aviation & metal
$grey: rgb(22, 22, 42);
$mediumgrey: rgb(63, 63, 80);
$lightgrey: rgb(165, 165, 172);
$pastelgrey: rgb(227, 227, 229);
